#hero {
  height:100vh;
  width:100vw;
  background:red;
  display:flex;
  align-items:center;
  justify-content: center;
  overflow: hidden;
}

#hero::after {
  width:100%;
  height:100%;
  content: '';
  position:absolute;
  z-index:10;
  top:0;
  left:0;
  background:rgba(0,0,0,0.5)
}


#hero video {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:5;
  object-fit:cover;
  font-family:'object-fit: cover';
}


#hero .texture {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:15;
  background: rgba(0, 0, 0, 0.5);
}

#hero > .App {
  position:relative;
  z-index:20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: white;
}

.App > .container {
  max-width:768px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

.App > .container > h2 {
  text-align:center;
  color:#ffffff;
  font-weight: 900;
  font-size: 40px;
}

button{
  border-radius:0;
  border: none;
  background: none;
  cursor: pointer;
}
button:focus:not(:focus-visible){outline:0}button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}
.btn-primary{
  color:#fff;
  background-color:#FE6A00;
  border-color:#0d6efd;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 800;
  font-size: 20px;
}

.btn-primary:hover{
  color:#fff;
  background-color:#983105;
  border-color:#0a58ca;
  transition: all .5s linear;
}

.btn-metamask {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  color: #f58717;
}

.btn-metamask > .metamask-logo {
  width: 50px;
  height: 50px;
}

.btn-metamask > .metamask-logo > img {
  width: 100%;
  height: 100%;
}


.form-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  font-size: 26px;
  width: 400px;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-align: center;
}

input::placeholder {
  color: gray;
  letter-spacing: 2px;
}

input:focus {
  outline: none;
}

.first-row{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

}

.tld {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: white;
  /* left: -70px; */
  right: 22px;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
}

.mint-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.mint-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 15px;
  font-size: 18px;
  background-color: #c4b7fa;
  color: black;
  min-width: 150px;
  max-width: fit-content;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.2);
}

/* Different background-colour for every nth mint-item */
.mint-item:nth-child(2n) {
  background-color: lightblue;
}

.mint-item:nth-child(3n) {
  background-color: lightpink;
}

.mint-item:nth-child(5n) {
  background-color: lightgreen;
}

.link{
  color: black;
  text-decoration: none;
}

.underlined{
  text-decoration: underline;
}

.underlined:hover{
  cursor: pointer;
}